.footer {
    padding: 30px 25px;
    background-color: var(--bg-color-primary);
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

@media (min-width: 1024px) {
    .footer {
        padding: 45px 50px;
    }

    .footer .container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
  }
  
  @media (min-width: 1366px) {
    .footer {
        padding: 50px 50px;
    }
  }
  
  @media (min-width: 1920px) {
    .footer {
        padding: 60px 50px;
    }
  }